* {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
    overflow: auto;
}

.grid-container{
    display:grid;
    grid-template-columns: 4vw 50vw 46vw;
    grid-template-rows: 100vh
}

/* Columns */
.grid-1{
    height:100%;
    width:100%;
    background-color: #555
}

.grid-2{
    height: 100%;
    width:100%;
}

.grid-3{
    height: 100%;
    width:100%;
}

.column-navigation{
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 40px;
}

.column-navigation a:hover{
    background-color: #000;
}

.active{
    background-color: #555;
}

.column-menu{
    height: 100%;
    width: 100%;
    padding: 1px;
    background-color: #f1f1f1
}

/* IMAGE */

#projectname{
    margin: 0;
    padding: 40px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 28px;
}

#projectimage{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}