* {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
    overflow: auto;
}

.grid-container{
    display:grid;
    grid-template-columns: 4vw 50vw 46vw;
    grid-template-rows: 100vh
}

/* Columns */
.grid-1{
    height:100%;
    width:100%;
    background-color: #555
}

.grid-2{
    height: 100%;
    width:100%;
}

.grid-3{
    height: 100%;
    width:100%;
}

.column-navigation{
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 40px;
}

.column-navigation a:hover{
    /* background-color: #000; */
    color: rgb(65, 63, 63);
}

.active{
    color: rgb(191, 121, 47);
}

.column-menu{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1
}

/* IMAGE */

#projectname{
    margin: 0;
    padding: 40px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 28px;
}

#projectimage{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

#popover-text{
    background-color: #9c9a9a;
    font-size: 18px;
}

@media screen and (max-width: 1024px){
   #projectname{
       height: 30%;
   }
   #projectimage{
       height: 40%;
   } 
}

@media screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: auto;
        grid-template-rows: 5vh 50vh 45vh;
    }

    .column-navigation{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .column-navigation{
        display: inline;
    }

    #projectname{
       height: 5%;
       padding: 20px;
       text-align: center;
       font-size: 18px; 
    }

    #projectimage{
        display: block;
        margin: auto;
        height: 80%;
        width: 80%;
    }
}

@media screen and (max-width: 340px){
   .grid-container{
       grid-template-columns: auto;
       grid-template-rows: 3vh 50vh 45vh;
   } 

   .column-navigation a {
       font-size: 10px;
       padding: 2px;
   }

   #projectname{
       height: 20%;
       padding: 15px;
       text-align: center;
   }
}